@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat|Noto+Sans+KR|JetBrains+Mono|Material+Icons&display=swap');
body, input, textarea, select, button, table {
    font-family: 'Montserrat', 'Noto Sans KR';
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
    --mdc-theme-primary: #4E546C;
    --mdc-theme-secondary: #00A9E0;
    --mdc-theme-background: #F0F0F0;
    --mdc-theme-surface: #FFFFFF;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-typography-subtitle1-font-size: 1rem;
    --mdc-typography-font-family: 'Montserrat', 'Noto Sans KR';
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: var(--mdc-theme-background);
    transition: all 300ms;
}
a[href] {
    color: #428BCA;
    text-decoration: none;
    cursor: pointer;
}
a[href]:hover, a[href]:focus {
    color: #2A6496;
    text-decoration: underline;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(0, 169, 224, .87) !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: rgba(0, 169, 224, .87) !important;
}
.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: rgba(0, 169, 224, .87) !important;
}
.mdc-select {
    display: inline-flex;
    position: relative;
}
.mdc-select__anchor {
    width: auto;
}
.mdc-select__menu {
    width: auto;
    z-index:9999;
}
.mdc-notched-outline__notch {
    flex: 0 0 auto;
    width: auto;
    max-width: calc(100% - 12px * 2);
    border-bottom-width: 1px;
}
.mdc-switch {
    display: inline-block;
    position: relative;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
}
.mdc-switch--checked {
    text-align: left;
}
.mdc-switch__track {
    color: #FFFFFF;
    font-size: 8px;
    line-height: 33px;
    box-sizing: border-box;
    width: 82px;
    height: 33px;
    border: 1px solid transparent;
    border-radius: 16px;
    opacity: .38;
    transition: opacity 90ms cubic-bezier(0.4, 0, 0.2, 1),background-color 90ms cubic-bezier(0.4, 0, 0.2, 1),border-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mdc-switch__track>label{
    margin: 6px;
}
.mdc-switch__thumb-underlay {
    left: -9px;
    right: initial;
    top: -8px;
    width: 48px;
    height: 48px;
}
.mdc-switch__thumb {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 10px solid;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}
.mdc-switch--checked .mdc-switch__thumb-underlay {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    border-right: 0 !important;
    user-select: none;
    outline-style: none;
    letter-spacing: 1px;
    border-radius: 0 !important;
    border-color: var(--mdc-theme-text-secondary-on-background) !important;
}
.button:first-of-type {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.button:last-of-type {
    border-right: 1px solid !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}