spring:
  application:
    name: panel-service
  main:
    web-application-type: reactive
  cloud:
    zookeeper:
      connect-string: test:12181
      discovery:
        root: /services
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedHeaders:
              - AUTHORIZATION
              - X-USER-ID
              - Content-Type
            exposedHeaders:
              - X-Total-Count
              - X-Total-Page
              - X-Current-Page
            allowedMethods:
              - OPTIONS
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
      routes:
      - id: panel-service-gateway
        uri: http://localhost:19643/
        predicates:
          - Path=/**
server:
  port: 19640