spring:
  application:
    name: gaia-proxy
  main:
    web-application-type: reactive
  cloud:
    zookeeper:
      connect-string: gemini:2181,pisces:2181,aries:2181,taurus:2181
      discovery:
        instance-host: aries
        root: /panel-services
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedHeaders:
              - AUTHORIZATION
              - X-USER-ID
              - Content-Type
            exposedHeaders:
              - X-Total-Count
              - X-Total-Page
              - X-Current-Page
            allowedMethods:
              - OPTIONS
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
      routes:
      - id: panel-service-gateway
        uri: ${rewrite.backend.uri:http://panel-gateway-lims.apps.gcgenome.com}
        predicates:
          - Path=/**
server:
  port: 0